@import "../variable/dimension";
@import "../_mixin/media";

.l-main {
  width: 100%;
  min-height: 100%;
  //  fix zIndex mess
  position: relative;
  background-color: #ffffff;
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -ms-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s;
}

.l-main.is-showSideBar {
  transform: translate3d($w-sidebar, 0, 0);
  -o-transform: translate3d($w-sidebar, 0, 0);
  -ms-transform: translate3d($w-sidebar, 0, 0);
  -moz-transform: translate3d($w-sidebar, 0, 0);
  -webkit-transform: translate3d($w-sidebar, 0, 0);
  @include phone-and-pad {
    transform: translate3d($w-sidebar--mobile, 0, 0);
    -o-transform: translate3d($w-sidebar--mobile, 0, 0);
    -ms-transform: translate3d($w-sidebar--mobile, 0, 0);
    -moz-transform: translate3d($w-sidebar--mobile, 0, 0);
    -webkit-transform: translate3d($w-sidebar--mobile, 0, 0);
  }
}
.l-main.is-showSideBar--old {
  margin-left: $w-sidebar;
  @include phone-and-pad {
    margin-left: $w-sidebar--mobile;
  }
}