.l-main {
  background-color: #ffffff;
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -ms-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s;
}

.l-main.is-showSideBar {
  transform: translate3d(350px, 0, 0);
  -o-transform: translate3d(350px, 0, 0);
  -ms-transform: translate3d(350px, 0, 0);
  -moz-transform: translate3d(350px, 0, 0);
  -webkit-transform: translate3d(350px, 0, 0);
}