@import "../_mixin/media";

.l-pagination {
  width: 80%;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  @include phone-and-pad {
    width: 100%;
  }
}

.l-homePagination {
  margin-top: 100px;
}