// c = color
// f = font
// b = background
$c-meizuBlue: #00a8e7;

$c-brighter-grey: #aaaaaa;
$c-bright-grey: #666666;
$c-grey: #333333;
$c-dark-grey: #111111;

// ================= global ====================
$c-f-global: $c-grey;
$c-f-blockquote: $c-brighter-grey;

// ================= base =======================
$c-f-link: $c-meizuBlue;

// ================= module article ==================
$c-f-articleTitle: $c-dark-grey;
$c-f-articleContent: $c-grey;
$c-f-articleFooter: $c-brighter-grey;
$c-f-articleMeta: $c-bright-grey;
$c-hr: $c-brighter-grey;

// ================= module archive ====================
$c-f-archiveYear: $c-dark-grey;
$c-f-archiveTitle: $c-grey;
$c-f-archiveInfo: $c-bright-grey;
$c-f-archiveBorderLeft: $c-grey;

// ================ module navigation ===================
$c-f-navigation-item: $c-dark-grey;

// ================ module footer ===================
$c-f-footer: $c-brighter-grey;