// c = color
// f = font
// b = background
$c-meizuBlue: #00a8e7;

$c-brightest: #eeeeee;
$c-brighter: #aaaaaa;
$c-bright: #666666;
$c-middle: #444444;
$c-dark: #333333;

// the color of reading content
$c-readingContent: #333333;

// ================= global ====================
$c-f-global: $c-dark;

// ================= base =======================
$c-f-link: $c-meizuBlue;

// ================= module article ==================
$c-f-articleTitle: $c-dark;
$c-f-articleContent: $c-readingContent;
$c-f-articleFooter: $c-brighter;
$c-f-articleMeta: $c-bright;
$c-hr: $c-brighter;

// ================ module essay ====================
$c-border-essayBlockquote: $c-brightest;
$c-border-essayCode: $c-brighter;
$c-b-essayCode: $c-bright;
$c-border-essayPre: $c-brighter;
$c-f-blockQuote: $c-bright;

// ================= module archive ====================
$c-f-archiveYear: $c-dark;
$c-f-archiveTitle: $c-dark;
$c-f-archiveInfo: $c-bright;
$c-f-archiveBorderLeft: $c-middle;

// ================ module navigation ===================
$c-f-navigation-item: $c-dark;

// ================ module sidebar ==================
$c-b-sidebar: $c-middle;
$c-f-sidebar: $c-brightest;

// ================ module footer ===================
$c-f-footer: $c-brighter;

// ================ module pagination ===============
$c-pagination-border: $c-dark;
$c-f-pagination: $c-brighter;
$c-f-pagination--hover: $c-dark;
$c-b-pagination--mobile: $c-brightest;
$c-f-pagination-arrow--mobile: $c-bright;

// ================ module scrollCtrlBar ==============
$c-b-scrollCtrlBar: $c-brightest;
$c-b-scrollCtrlBar--hover: $c-dark;
$c-f-scrollCtrlBar: $c-brighter;
$c-f-scrollCtrlBar--hover: #ffffff;