// fs = font-size
$fs-hugest: 35px;
$fs-huger: 32px;
$fs-huge: 30px;
$fs-larger: 25px;
$fs-large: 20px;
$fs-middle: 18px;
$fs-small: 15px;
$fs-smaller: 12px;

// =============== global content =================
$fs-globalTitle: $fs-hugest;
$fs-global: $fs-small;

// ================ module article ==================
$fs-articleTitle--main: $fs-huge;
$fs-articleTitle--main-mobile: $fs-larger;

$fs-articleMeta: $fs-smaller;

$fs-articleFooter: $fs-smaller;

// ================= module essay ====================

$fs-essayContent: $fs-middle;
$fs-essayContent--mobile: $fs-middle;
$fs-essayBlockQuote: $fs-small;
$fs-essayCode: $fs-small;
$fs-essayPre: $fs-small;

// ================= module archive -=================
$fs-archiveYear: $fs-larger;


// ================= module navigation ==================
$fs-navigation-icon: $fs-huge;
$fs-navigation-icon--mobile: $fs-large;
$fs-navigation-item: $fs-middle;

// ================= module sidebar ================
$fs-sidebar: $fs-middle;
$fs-sidebar--mobile: $fs-small;

// ================= module footer ======================
$fs-footer: $fs-smaller;

// ================== module pagination ============
$fs-pagination: $fs-large;
$fs-pagination-arrow: $fs-huge;
$fs-pagination-arrow--mobile: $fs-small;