// fs = font-size

$fs-globalTitle: 35px;
$fs-global: 14px;

// ================ module article ==================
$fs-articleTitle--main: 30px;
$fs-articleTitle--main-mobile: 25px;
$fs-articleTitle--sub: 20px;
$fs-articleTitle--subUnderSub: 19px;

$fs-articleContent: 18px;

$fs-articleMeta: 13px;

$fs-articleFooter: 12px;