// fs = font-size
$fs-hugest: 35px;
$fs-huger: 32px;
$fs-huge: 30px;
$fs-larger: 25px;
$fs-large: 20px;
$fs-middle: 18px;
$fs-small: 15px;
$fs-smaller: 12px;

// =============== global content =================
$fs-globalTitle: $fs-hugest;
$fs-global: $fs-small;

// ================ module article ==================
$fs-articleTitle--main: $fs-huge;
$fs-articleTitle--main-mobile: $fs-larger;
$fs-articleTitle--sub: $fs-large;
$fs-articleTitle--subUnderSub: $fs-middle;

$fs-articleContent: $fs-middle;
$fs-articleContent--mobile: $fs-middle;

$fs-articleMeta: $fs-small;

$fs-articleFooter: $fs-smaller;

// ================= module archive -=================
$fs-archiveYear: $fs-larger;


// ================= module navigation ==================
$fs-navigation-icon: $fs-huge;
$fs-navigation-icon--mobile: $fs-large;
$fs-navigation-item: $fs-middle;

// ================= module sidebar ================
$fs-sidebar: $fs-middle;

// ================= module footer ======================
$fs-footer: $fs-smaller;