@import "fontSize";
// lh = line height

// ============ module article ==========
$lh-articleFooter: 24px;

// ============= module essay =============
$lh-essayContent: $fs-essayContent * 1.7;
$lh-essayContent--mobile: $fs-essayContent--mobile * 1.7;
$lh-essayBlockquote: $fs-essayBlockQuote * 1.6;