@import "fontSize";
// lh = line height

// ============ module article ==========
$lh-articleContent: $fs-articleContent * 1.9;
$lh-articleContent--mobile: $fs-articleContent--mobile * 1.8;
$lh-articleFooter: 24px;