{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
{% unless page.sidebar == false %}
<aside class="l-sidebar sidebar js-sidebar">
    {% if site.post_asides.size %}
    {% include_array post_asides %}
    {% else %}
    {% include_array default_asides %}
    {% endif %}
</aside>
{% endunless %}
  <div class="l-main js-sideBarCover">
      <header role="banner" class="l-header header">{% include header.html %}</header>
      <div class="l-main-content js-main-content">
          <nav role="navigation">{% include navigation.html %}</nav>
          {{ content | expand_urls: root_url }}
          <footer role="contentinfo">{% include footer.html %}</footer>
      </div>
      <div class="l-scrollCtrlBar scrollCtrlBar js-scrollCtrl">
          <a class="scrollCtrlBar-item js-toTop"><i class="fa fa-chevron-up"></i></a>
          <!--<a class="scrollCtrlBar-item js-toBottom"><i class="fa fa-chevron-down"></i></a>-->
      </div>
  </div>
{% include after_footer.html %}
</body>
</html>
