---
layout: default
single: true
---
<div>
    <div class="l-looseContent">
        <article class="article" role="article">
            {% include article.html %}
        </article>
        <div class="l-shareKit js-shareKitWrap">
            <ul class="shareKit js-shareKit">
                <li class="shareKit-item shareKit-qzone"><a class="js-shareKit-qzone" title="分享到Qzone"><i class="fa fa-qq"></i></a></li>
                <li class="shareKit-item shareKit-weibo"><a id="js-shareKit-weibo" class="js-shareKit-weibo" title="分享到weibo"><i class="fa fa-weibo"></i></a></li>
                <li class="shareKit-item shareKit-twitter"><a class="js-shareKit-twitter" title="分享到twitter"><i class="fa fa-twitter"></i></a></li>
                <li class="shareKit-item shareKit-wechat">
                  <a class="js-shareKit-wechat" title="分享到wechat"><i class="fa fa-wechat"></i></a>
                  <div class="shareKit-wechat-QRCode js-shareKit-wechat-QRCode"></div>
                </li>
            </ul>
        </div>
        <footer class="l-pagination">
            <div class="pagination clearFloat">
                {% unless page.sharing == false %}
                {% include post/sharing.html %}
                {% endunless %}
                {% if page.previous.url %}
                <a class="pagination-item pagination-prev" href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}"><i class="fa fa-long-arrow-left"></i>{{page.previous.title}}</a>
                {% endif %}
                {% if page.next.url %}
                <a class="pagination-item pagination-next" href="{{page.next.url}}" title="Next Post: {{page.next.title}}">{{page.next.title}}<i class="fa fa-long-arrow-right"></i></a>
                {% endif %}
            </div>
        </footer>
        {% if site.disqus_short_name and page.comments == true %}
        <div class="l-comment">
            <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
        </div>
        {% endif %}
    </div>
</div>
