@import "../variable/color";

.archive {
  margin-top: 60px;
  &:first-of-type {
    margin-top: 30;
  }
}

.archive-item {
  padding: 10px;
  margin-top: 20px;
  border: 1px solid transparent;
  -webkit-transition: border-color .3s;
  -moz-transition: border-color .3s;
  -ms-transition: border-color .3s;
  -o-transition: border-color .3s;
  transition: border-color .3s;
  &:hover {
    border-color: $c-f-archiveBorderLeft;
  }
}
.archive-itemTitle {
  color: $c-f-archiveTitle;
  & a {
    color: inherit;
  }
}

.archive-year {
  font-size: $fs-archiveYear;
  color: $c-f-archiveTitle;
  padding-left: 10px;
  & > a {
    color: inherit;
  }
}

.archive-info {
  color: $c-f-archiveInfo;
  font-family: "georgia";
  font-size: $fs-archiveInfo;
  a, a:visited {
    color: inherit;
  }
}

// get around with the origin template structure
#blog-archives {
  @extend .archive;
}

#blog-archives > h2 {
  @extend .archive-year;
}

#blog-archives > article {
  @extend .archive-item;
}