@import "../variable/color";
@import "../variable/lineHeight";
@import "../variable/fontSize";
@import "../_mixin/media";
.article {
  margin-top: 220px;
  &:first-of-type {
    margin-top: 160px;
  }
  @include phone-and-pad {
    margin-top: 70px;
    &:first-of-type {
      margin-top: 30px;
    }
  }
}

.article-header {
  text-align: center;
}

.article-meta {
  font-size: $fs-articleMeta;
  color: $c-f-articleMeta;
  margin-top: 10px;
}

.article-meta-item {
  display: inline-block;
  margin-right: 10px;
}
.article-meta-item a {
  color: $c-f-articleMeta;
}
.article-meta-item .fa {
  margin-right: 3px;
}

.article-title {
  color: $c-f-articleTitle;
  font-size: $fs-articleTitle--main;
  font-weight: normal;
  @include phone-and-pad {
    & {
      font-size: $fs-articleTitle--main-mobile;
    }
  }
  a {
    color: inherit;
    border-bottom: none;
  }
}

.article-footer {
  height: $lh-articleFooter + 1;
  margin-top: 15px;
  line-height: $lh-articleFooter;
  text-align: center;
}

.article-footer > a {
  color: $c-f-articleFooter;
  font-size: 12px;
  display: inline-block;
}