@import "../variable/color";
@import "../variable/lineHeight";
@import "../variable/fontSize";
@import "../_mixin/media";
.article {
  margin-top: 220px;
  &:first-of-type {
    margin-top: 160px;
  }
  @include phone-and-pad {
    margin-top: 70px;
    &:first-of-type {
      margin-top: 30px;
    }
  }
}

.article-header {
  text-align: center;
}

.article-meta {
  font-size: $fs-articleMeta;
  color: $c-f-articleMeta;
  margin-top: 10px;
}

.article-title {
  color: $c-f-articleTitle;
  font-size: $fs-articleTitle--main;
  font-weight: normal;
  @include phone-and-pad {
    & {
      font-size: $fs-articleTitle--main-mobile;
    }
  }
  a {
    color: inherit;
    border-bottom: none;
  }
}

.article-content {
  margin-top: 35px;
  font-size: $fs-articleContent;
  line-height: $lh-articleContent;
  @include phone-and-pad {
    font-size: $fs-articleContent--mobile;
    line-height: $lh-articleContent--mobile;
  }
}
.article-content h3 {
  margin-top: 50px;
  font-size: $fs-articleTitle--sub;
}
.article-content h4 {
  margin-top: 40px;
  font-size: $fs-articleTitle--subUnderSub;
}
.article-content p {
  margin-top: 30px;
}
.article-content p > img {
  padding: 10px;
  display: block;
  max-width: 100%;
  box-sizing: border-box;
  border: 1px solid #aaaaaa;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,0.2);
}
.article hr {
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: 1px solid$c-hr;
  margin-top: 40px;
  margin-bottom: 40px;
}

.article-footer {
  height: $lh-articleFooter + 1;
  margin-top: 15px;
  line-height: $lh-articleFooter;
  text-align: center;
}

.article-footer > a {
  color: $c-f-articleFooter;
  font-size: 12px;
  display: inline-block;
}