@import "../variable/fontSize";
@import "../variable/color";
@import "../_mixin/media";
.footer {
  text-align: center;
}
@include phone-and-pad {
  .footer-pcVersion {
    display: none;
  }
}
@include pc {
  .footer-portableVersion {
    display: none;
  }
}
.footer > small {
  font-size: $fs-footer;
  color: $c-f-footer;
}