@import "../_mixin/media";
@import "../variable/color";
@import "../variable/fontSize";
@import "../_mixin/media";

.pagination-item {
  width: 50%;
  position: relative;
  padding: 15px 25px;
  text-align: center;
  vertical-align: top;
  color: $c-f-pagination !important;
  font-size: $fs-pagination;
  border: 1px solid transparent;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-transition: border-color .3s;
  -moz-transition: border-color .3s;
  -ms-transition: border-color .3s;
  -o-transition: border-color .3s;
  transition: border-color .3s;
  &:hover {
    border: 1px solid $c-pagination-border;
    color: $c-f-pagination--hover !important;
  }
  @include phone-and-pad {
    width: 100%;
    margin-top: 10px;
    background-color: $c-b-pagination--mobile;
  }
}

.pagination-prev {
  float: left;
  @include phone-and-pad {
    padding-left: 25px + $fs-pagination-arrow--mobile*1.5;
    padding-right: 10px;
  }
}
.pagination-next {
  float: right;
  @include phone-and-pad {
    padding-left: 10px;
    padding-right: 25px + $fs-pagination-arrow--mobile*1.5;
  }
}

.pagination .fa {
  position: absolute;
  top: 50%;
  font-size: $fs-pagination-arrow;
  margin-top: $fs-pagination-arrow / 2 * (-1);
  @include phone-and-pad {
    font-size: $fs-pagination-arrow--mobile;
    margin-top: $fs-pagination-arrow--mobile / 2 * (-1);
    color: $c-f-pagination-arrow--mobile;
  }
}

.pagination-prev .fa {
  left: $fs-pagination-arrow * (-1.3);
  @include phone-and-pad {
    left: $fs-pagination-arrow--mobile;
  }
}
.pagination-next .fa {
  right: $fs-pagination-arrow * (-1.3);
  @include phone-and-pad {
    right: $fs-pagination-arrow--mobile;
  }
}

// the pagination in index.html

.homePagination-item {
  display: block;
  text-align: center;
  width: 100px;
  height: 30px;
  line-height: 30px;
  font-size: 0.8em;
  font-weight: bold;
  color: inherit;
  border: 2px solid $c-border-homePagination;
  border-radius: 20px;
  &:visited {
    color: inherit;
  }
}