@import "../variable/color";
@import "../variable/fontSize";
@import "../variable/dimension";
@import "../_mixin/media";

.sidebar {
  height: 100%;
  width: $w-sidebar;
  color: $c-f-sidebar;
  font-size: $fs-sidebar;
  background-color: $c-b-sidebar;
  box-shadow: -1px 0 3px 1px rgba(0,0,0,0.5) inset;
  -webkit-box-shadow: -1px 0 3px 1px rgba(0,0,0,0.5) inset;
  text-shadow: 0 1px 1px rgba(0,0,0,0.6);
  @include phone-and-pad {
    width: $w-sidebar--mobile;
    font-size: $fs-sidebar--mobile;
  }
  h3 {
    font-weight: normal;
  }
  a, a:visited {
    color: inherit;
  }
  ul {
    list-style: none;
    padding-left: 0;
    li {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}