---
layout: default
---

<div>
    <div class="l-looseContent">
        {% assign index = true %}
        {% for post in paginator.posts %}
        {% assign content = post.content %}
        <article class="article">
            {% include article.html %}
        </article>
        {% endfor %}
    </div>
    <div class="pagination">
      <!--{% if paginator.next_page %}-->
        <!--<a class="prev" href="{{paginator.next_page_path}}">&larr; Older</a>-->
      <!--{% endif %}-->
    </div>
    <div class="l-scrollCtrlBar scrollCtrlBar js-scrollCtrl">
        <a class="scrollCtrlBar-item js-toTop"><i class="fa fa-chevron-up"></i></i></a>
        <!--<a class="scrollCtrlBar-item js-toBottom"><i class="fa fa-chevron-down"></i></i></a>-->
    </div>
</div>
